.hide {
  display: none;
}

.menu {
  width: 150px;
  border: 1px solid #4286f4;
  line-height: 40px;
}

.dropDown {
  border: 1px solid #4286f4;;
  width: 150px;
}

.option {
  cursor: pointer;
  line-height: 30px;
  border-top: 0px solid #4286f4;;
}
